

@{
    ViewBag.Title = "Home Page";

}
<style>
    body {
        background-image: url('../../Content/themes/Abstract_Background_with_Blue_Triangles.jpg');
    }
</style>

<div class="jumbotron">
    <div id="logo">
       
        <img src="~/Content/themes/base/images/logo.png"  class="desktop" />

    </div>
    <h1>E-DNEVNIK</h1>
    <p class="lead"></p>
    <p><a href="http://rg.edu.rs/" class="btn btn-primary btn-lg">Racunarska gimnazija &raquo;</a></p>



</div>

<div class="row">
    <div class="col-md-3">
        <h2>I GODINA</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/Ocenjivanje/Index"> I godina &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>II GODINA</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/Ocenjivanje/Index">II godina &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>III GODINA</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/Ocenjivanje/Index">III godina &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>IV GODINA</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/Ocenjivanje/Index">IV godina &raquo;</a></p>
    </div>
</div>


