

@model IEnumerable<eDnevnikM.Models.Ucenici>

<table>

    <tr>

        <th>UcenikID</th>

    </tr>

    <tr>

        <th>Ime</th>

    </tr>

    @foreach (var item in Model)

    {

        <tr>

            <td>

                @Html.DisplayFor(modelItem => item.UcenikID)

            </td>

            <td>

                @Html.DisplayFor(modelItem => item.Ime)

            </td>

        </tr>

    }

</table>

@{

    AjaxOptions objAjaxOptions = new AjaxOptions();

    objAjaxOptions.HttpMethod = "POST";

    objAjaxOptions.UpdateTargetId = "divshowResponse";

    objAjaxOptions.InsertionMode = InsertionMode.Replace;

    objAjaxOptions.LoadingElementId = "divProgress";

}

@Ajax.ActionLink("Ucenici", "ViewUcenici", "PrvaGodina", objAjaxOptions)

<div id="divProgress" style="display: none;">

    <div class="modalBackground ajax-loader">

        <img src="~/Images/ajax-loader.gif" />

    </div>

</div>
<div id="divshowResponse">

</div>