@model eDnevnikM.Models.Profesori

@{
    ViewBag.Title = "PosleLogin";
}

<h2>PosleLogin</h2>

@if (Session["LogedUserFullname"] != null)
{
    <text>
        Dobrodosli @Session["LogedUserFullname"].ToString()
    </text>
}
